layout {
    gaps 4
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    focus-ring {
        width 1
        active-color "#4a5472"
        inactive-color "#00000000"
    }
    border { off; }
    default-column-width { proportion 1.000000; }
    preset-column-widths {
        proportion 0.333333
        proportion 0.500000
        proportion 0.666667
    }
    center-focused-column "never"
}
