// Global polish.
window-rule {
    popups {
        geometry-corner-radius 12
    }
}

// Give floating windows enough separation from the tiled layer.
window-rule {
    match is-floating=true

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}
